# Bolão Pé Na Cova

Source: [Age-specific death rate per 1,000 population in the United Kingdom in 2021, by gender](https://www.statista.com/statistics/1125118/death-rate-united-kingdom-uk-by-age/)

In [42]:
import pandas as pd
from io import StringIO

csv_data = """
Characteristic,Males,Females
90–120,231.6,209.9
85–89,121.9,94.9
80–84,70.7,51.2
75–79,40.1,27.5
70–74,24,16
65–69,15.7,10.1
60–64,10.3,6.5
55–59,6.6,4.2
50–54,4.5,2.8
45–49,3.1,1.9
40–44,2,1.2
35–39,1.3,0.8
30–34,0.9,0.5
25–29,0.6,0.3
20–24,0.5,0.2
15–19,0.3,0.2
10–14,0.1,0.1
5–9,0.1,0.1
1–4,0.1,0.1
0–0,4.3,3.4
"""

csv_file = StringIO(csv_data)
df = pd.read_csv(csv_file)

df['lower_limit'] = df.apply(lambda x: int(x['Characteristic'].split('–')[0]), axis=1)
df['upper_limit'] = df.apply(lambda x: int(x['Characteristic'].split('–')[1]), axis=1)
df = df.drop('Characteristic', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Males        20 non-null     float64
 1   Females      20 non-null     float64
 2   lower_limit  20 non-null     int64
 3   upper_limit  20 non-null     int64
dtypes: float64(2), int64(2)
memory usage: 768.0 bytes

In [50]:
data = []

for i in range (0, 121):
    for index, row in df.iterrows():
        if i <= row['upper_limit'] and i >= row['lower_limit']:
            data.append(['male', i, 120-i, row['Males']])
            data.append(['female', i, 120-i, row['Females']])
    
columns = ['gender', 'age', 'points', 'death_rate']
new_df = pd.DataFrame(data, columns=columns)

new_df.tail(50)

     gender  age  points  death_rate
192    male   96      24       231.6
193  female   96      24       209.9
194    male   97      23       231.6
195  female   97      23       209.9
196    male   98      22       231.6
197  female   98      22       209.9
198    male   99      21       231.6
199  female   99      21       209.9
200    male  100      20       231.6
201  female  100      20       209.9
202    male  101      19       231.6
203  female  101      19       209.9
204    male  102      18       231.6
205  female  102      18       209.9
206    male  103      17       231.6
207  female  103      17       209.9
208    male  104      16       231.6
209  female  104      16       209.9
210    male  105      15       231.6
211  female  105      15       209.9
212    male  106      14       231.6
213  female  106      14       209.9
214    male  107      13       231.6
215  female  107      13       209.9
216    male  108      12       231.6
217  female  108      12       209.9
218    male  109      11       231.6
219  female  109      11       209.9
220    male  110      10       231.6
221  female  110      10       209.9
222    male  111       9       231.6
223  female  111       9       209.9
224    male  112       8       231.6
225  female  112       8       209.9
226    male  113       7       231.6
227  female  113       7       209.9
228    male  114       6       231.6
229  female  114       6       209.9
230    male  115       5       231.6
231  female  115       5       209.9
232    male  116       4       231.6
233  female  116       4       209.9
234    male  117       3       231.6
235  female  117       3       209.9
236    male  118       2       231.6
237  female  118       2       209.9
238    male  119       1       231.6
239  female  119       1       209.9
240    male  120       0       231.6
241  female  120       0       209.9

970.6